Exploratory Data Analysis on Airbnb Listings
Objective: Use a dataset like Airbnb NYC listings: https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data to extract insights, clean messy data, and uncover pricing dynamics.

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv("AB_NYC_2019.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'AB_NYC_2019.csv'

In [33]:
# df.isnull().sum()

## 💡 Tasks:

In [ ]:

# Clean price fields ($1,200 → 1200)
# The price columns values were cleaned at first sight, no symbols such as "$" was present

## Analyze:

### Top 10 neighborhoods by revenue

In [44]:
dx = df[["neighbourhood", "price"]].groupby("neighbourhood")[["price"]].sum().sort_values(by= "price", ascending= False)
dx.head(10)

                     price
neighbourhood
Williamsburg        442227
Bedford-Stuyvesant  332817
Hell's Kitchen      284545
Upper West Side     276560
Midtown             263837
East Village        260242
Harlem              258195
Upper East Side     235061
Chelsea             183424
Bushwick            165321

### Average price per room type

In [48]:
dx = df[["room_type", "price"]].groupby("room_type")[["price"]].mean().sort_values(by= "price", ascending= False)
dx.head(10)

                      price
room_type
Entire home/apt  196.315929
Private room      83.985272
Shared room       63.213948

### Availability vs. price correlation

In [50]:
df[['availability_365', "price"]].corr()

                  availability_365     price
availability_365          1.000000  0.078276
price                     0.078276  1.000000

### Hosts with >10 listings (potential businesses)

In [68]:
dz = df[["calculated_host_listings_count", "host_name", "host_id"]]['host_id'].value_counts()
listing_count_greater_than_10 = dz[dz > 10]
listing_count_greater_than_10

#

host_id
219517861    207
61391963      79
16098958      61
137358866     51
7503643       49
            ...
14898658      11
10457196      11
310670        11
5144567       11
4291007       11
Name: count, Length: 65, dtype: int64

### Detect outliers (e.g., prices > $1000/night)

In [70]:
dx = df[["host_name", 'neighbourhood', "room_type", "minimum_nights", "price"]]
dx[dx['price'] > 1000]

,host_name,neighbourhood,room_type,minimum_nights,price
496,Henry,Upper West Side,Entire home/apt,30,2000
762,West Village,West Village,Entire home/apt,5,1300
1480,Henry,Upper West Side,Entire home/apt,30,2000
2018,Martin,East Village,Entire home/apt,30,2500
2236,Loretta,Carroll Gardens,Entire home/apt,1,1395
...,...,...,...,...,...
45185,Cheryl,Crown Heights,Entire home/apt,1,2500
45666,Sandra,East Flatbush,Private room,1,7500
45967,Matt,Greenwich Village,Entire home/apt,31,1099
46533,Viberlyn,Chelsea,Entire home/apt,30,2995
47391,A,Prospect-Lefferts Gardens,Entire home/apt,10,1400